@import '../variables.scss';

.buttons-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.danger-button {
  background: $danger-button-color;
  padding: 10px;
  border-radius: 15px;
  flex: 1 0 calc(50% - 10px);
  text-align: center;
  color: #fff;

  &:hover {
    box-shadow: 0px 2px 2px rgb(0 0 0 / 50%);
  }

  &:active {
    box-shadow: inset 1px 1px 10px #000;
  }
}
