@import './variables.scss';

.arrow {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 35px solid $arrow-bg;
  margin: 0 auto;
}
